@import "tailwindcss";

@theme {
  --color-brand-gold: #D4AF37;
  --color-brand-blue: #003366;
  --color-brand-gold-light: #F4C430;
  --color-brand-blue-dark: #002244;
  
  --font-outfit: var(--font-outfit);
  --font-cairo: var(--font-cairo);
}

:root {
  --background: #F5F5F0;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
}
